body {
  text-align: center;
  padding: 50px;
  min-width: 352px;
}
* {
  transition: .5s all !important;
}

input {
  max-width: 250px;
  margin: 0 auto;
}
input[type="checkbox"] {
  width: auto;
}
input.input-long {
  max-width: 350px;
}
input.input-small {
  max-width: 50px;
  text-align: center;
}

.inline-block {
  display: inline-block;
}
.inline-block div.label {
  text-align: left;
}
.inline-block input {
  display: block;
  margin-bottom: 5px;
}

#base-points .form-group div.inline-block {
  width: 300px;
  max-width: 300px;
  text-align: left;
}

#due-date-wrapper {
  position: fixed;
  top: 50px;
  left: 50px;
  transition: none !important;
}
.form-group {
  position: relative;
}

#summary-table {
  margin: 0 auto;
  border-collapse: collapse;
  /*border-radius: 3px;*/
}

table, tr, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
#summary-table td {
  padding: 5px 50px;
}

#summary-table tr:last-child {
  font-weight: 600;
  border-top: 2px solid #378752;
}

#checkboxes-wrapper {
  margin: 25px 0;
}

.has-success .form-control,
.has-warning .form-control {
  border-color: #c1c1c1;
}
.form-group.has-warning input.nr-input,
.form-group.has-warning input[type="url"],
.form-group.has-warning input.name-input,
.form-group.has-warning input.code-input {
  border: 1px solid red;
}
.form-group.has-success input.nr-input,
.form-group.has-success input[type="url"],
.form-group.has-success input.name-input,
.form-group.has-success input.code-input {
  border: 1px solid #168000;
}
#extra-points .form-group,
#checkboxes-wrapper .form-group {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #378752;
  padding: 5px 0;
  text-align: left;
}
#extra-points .form-group .cbox-container,
#checkboxes-wrapper .form-group .cbox-container {
  vertical-align: top;
}
#extra-points .form-group div:last-child,
#checkboxes-wrapper .form-group div:last-child {
  width: calc(100% - 23px);
}


/* NEW CHECKBOX STYLE */
.cbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  height: 18px;
  width: 18px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 3px;
}
.cbox-container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #7C7F79;
  box-shadow: inset 0 1px 3px 0 #A1A49E;
}
.cbox-container:hover input[type=checkbox] ~ .checkmark {
  background-color: #ccc;
}
.cbox-container input[type=checkbox]:checked ~ .checkmark {
  background-color: #378752;
  box-shadow: none;
  border: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cbox-container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.cbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.overdue {
  color:red;
}

.cool {
  font-weight: 600;
}

.work th {
  text-align: center;
}

#additional-points {
  margin-top: 40px;
}
.tooltip {
  transition: unset !important;
}

@media (max-width: 1140px) {
  #due-date-wrapper {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 991px) {
  body {
    padding: 50px 37px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 50px 25px;
  }
  .sm-200 {
    width: 200px !important;
    text-align: left;
  }
  .sm-block {
    display: block !important;
  }
}

.search {

}