body {
  text-align: center;
  padding: 50px;
}

input {
  max-width: 250px;
  margin: 0 auto;
}
input[type="checkbox"] {
  width: auto;
}
input.input-long {
  max-width: 350px;
}
input.input-small {
  max-width: 50px;
  text-align: center;
}

.inline-block {
  display: inline-block;
}
.inline-block div.label {
  text-align: left;
}
.inline-block input {
  display: block;
  margin-bottom: 5px;
}

#base-points .form-group div.inline-block {
  width: 300px;
  max-width: 300px;
  text-align: left;
}

#due-date-wrapper {
  position: fixed;
  top: 50px;
  left: 50px;
}

#summary-table {
  margin: 0 auto;
  border-collapse: collapse;
  /*border-radius: 3px;*/
}


#summary-table td {
  padding: 5px;
}

.form-group.has-warning input.nr-input,
.form-group.has-warning input[type="url"],
.form-group.has-warning input.name-input,
.form-group.has-warning input.code-input {
  border: 1px solid red;
}
.form-group.has-success input.nr-input,
.form-group.has-success input[type="url"],
.form-group.has-success input.name-input,
.form-group.has-success input.code-input {
  border: 1px solid #168000;
}


/* NEW CHECKBOX STYLE */
.cbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  height: 18px;
  width: 18px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 3px;
}
.cbox-container input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #7C7F79;
  box-shadow: inset 0 1px 3px 0 #A1A49E;
}
.cbox-container:hover input[type=checkbox] ~ .checkmark {
  background-color: #ccc;
}
.cbox-container input[type=checkbox]:checked ~ .checkmark {
  background-color: #378752;
  box-shadow: none;
  border: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cbox-container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.cbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}