<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kodutöö 3</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
  <div class="container" id="container">
    <table>
      <thead>
        <tr>
          <th>Tudeng 1</th>
          <th>Tudeng 2</th>
          <th>Töö aadress</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="work in works">
          <td>
            <span v-if="work.student1_id">{{ this.students.filter(x => x.id === work.student1_id)[0].name }}</span>
          </td>
          <td>
            <span v-if="work.student2_id">{{ this.students.filter(x => x.id === work.student2_id)[0].name }}</span>
          </td>
          <td>
            <a :href="work.url">{{ work.url }}</a>
          </td>

          <td>
            <button class="btn btn-success">Vaata</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</body>
</html>