body {
  min-width: 1200px;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  padding: 15px;
}

#container {
  width: 100%;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  overflow: hidden;
  min-height: calc(100vh - 30px);
}

#lives-wrapper {
  box-shadow: 0 2px 0 #eee;
  max-height: 30px;
  height: 30px;
  position: relative;
}
.life {
  position: relative;
  height: 30px;
  width: 20px;
}

.glyphicon-heart {
  font-size: 20px;
  color: red;
}

#lives-wrapper,
#timer,
#score,
#game-wrapper {
  text-align: center;
  width: 100%;
}

#game-wrapper #desk-img {
  width: 50%;
  height: auto;
}

#game-wrapper {
  position: relative;
}

#game-wrapper .paper {
  position: absolute;
  bottom: -200px;
  height: 338px;
  width: 293px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: bottom 0.5s ease, left 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.paper img {
  width: 100%;
  height: 100%;
}

.left-pile,
.right-pile,
.down-pile,
.up-pile {
  height: 10px !important;
  width: 10px !important;
}
.left-pile {
  bottom: 300px !important;
  left: -300px !important;
}
.right-pile {
  bottom: 300px !important;
  left: 330px !important;
}
.down-pile {
  bottom: -300px !important;
}
.up-pile {
  bottom: 300px !important;
}

#start-msg {
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s ease;
}

.life-lost {
  /*font-size: 20px;*/
  top: 0;
  animation: life-lost 1s;
}

@keyframes life-lost {
  30% {
    /*font-size: 30px;*/
    top: -20px;
  }
  100% {
    /*font-size: 0;*/
    top: 100px;
  }
}

.modal-body p {
  text-align: center;
}

#boss-img {
  transform: rotate(270deg);
  position: absolute;
  right: -298px;
  transition: right 0.5s ease;
}
.boss-show {
  right: -110px !important;
}

#score {
	font-size: 25px;
}

#timer {
	font-size: 30px;
}

.arrows {
	margin-top:5px;
}
.bottom-row,
.top-row{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;

}

.top-row {
    width: 57px;
    margin-bottom:  2px
}

.arrow-key-container {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;

}

.arrow-key-container span {
    line-height: 55px;
    font-size: xx-large;

}

.glyphicon-arrow-left,
.glyphicon-arrow-right,
.glyphicon-arrow-down
{
    color:white;
}


.glyphicon-arrow-left {
    -webkit-animation: bgcolorchange 1s infinite; /* Chrome, Safari, Opera */
    animation: 1s infinite bgcolorchange;
}
@keyframes bgcolorchange {
    0% {
        text-shadow: -2px 0 #526DC3, 0 2px #526DC3, 2px 0 #526DC3, 0 -2px #526DC3;
    }
    50% {
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    100% {
        text-shadow: -2px 0 #526DC3, 0 2px #526DC3, 2px 0 #526DC3, 0 -2px #526DC3;
    }
}


.glyphicon-arrow-right {
    -webkit-animation: bgcolorchange2 1s infinite; /* Chrome, Safari, Opera */
    animation: 1s infinite bgcolorchange2;
}
@keyframes bgcolorchange2 {
    0% {
        text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
    }
    50% {
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    100% {
        text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
    }
}

.glyphicon-arrow-down {
    -webkit-animation: bgcolorchange3 1s infinite; /* Chrome, Safari, Opera */
    animation: 1s infinite bgcolorchange3;
}
@keyframes bgcolorchange3 {
    0% {
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    50% {
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    100% {
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}