#page1 {
    display: block;
}
#page2 {
    display: none;
}
#page3 {
    display: none;
}
#page3 .col-lg-6 {
    text-align: center;
}

#block-one {
    border-top: 2px solid #5cb85c;
}

.form-group .form-control:not(:first-child) {
    margin-top: 5px;
}

#other-people .form-control {
    display: inline-block;
}

label {
    display: block;
}

.select {
    display: block;
    height:34px;
    width: 100%;
    padding: 6px 12px;
    margin-top: 5px;
}

body {
    padding: 30px 0;
}

.person-info-wrapper {
    color: #5cb85c;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
}
.person-info {
    margin-left: -16px;
}


.person-info-wrapper .glyphicon {
    margin-left: 10px;
    font-size: 14px;
}
.person-info-wrapper .saved-name:hover {
    cursor: pointer;
    color: #38864c;
}

#savePerson {
    padding: 4px 8px;
}

#block-three .form-group {
    background: #eee;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
}

#block-three .form-group:last-child {
    border-radius: 4px;
}

.inner.opened {
    background: #eee;

}

.checkbox-label {
    margin-top: 3px !important;
}

.checkbox {
    margin-right: 5px !important;
    display: inline;
}

.extras-header {
    font-weight: 500;
    font-size: 18px;
}

.inner {
    padding: 12px 16px;
    border-radius: 4px 4px 0 0;
}
.opened {
    background-color: #eee;
}

.inputdiv {
    position: relative !important;
    margin:5px 0;
}

.floating-label {
    color:#ccc;
    opacity: 0.8;
    position: absolute;
    pointer-events: none;
    left: 13px;
    top: 8px;
    transition: 0.2s ease all;
}

.form-control:focus ~ .floating-label,
.form-control:not(:focus):valid ~ .floating-label{
    right: 20px;
    left: auto;
    opacity: 1;
}

#file-input-displayed {
    background: #fff;
    margin: 0 0 0 -1.5px;
}

#choose-file {
    border-radius: 4px 0 0 4px;
    background: #5cb85c;
    color: #fff;
}

.form-control-feedback {
    width: 20px;
}

.glyphicon-remove {
    color: red;
}

.animationload {
    display: none;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #89e28d none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #67c499 transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background: #5cb85c none repeat scroll 0 0;
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .col-xs-12 {
        padding: 0 30px;
    }
}

.saved-message {
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 28px;
    border-bottom: 2px solid #5cb85c;
}

.optional-message {
    margin: 10px 0;
}

.row {
    margin: auto;
}

.glyphicon-warning-sign {
    color: red !important;
}

.has-warning .form-control{
    border-color: red;
}

.error-message {
    color: red;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

#block-seven .form-group{
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#send2 {
    margin-top:10px;
}

.name-span {
    background: #eee;
    padding-left: 5px;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
    font-size: 15px;
}

#rights-wrapper {
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control[readonly] {
    background-color: white;
}

.tooltip-inner {
    width: 300px;
}

