.form-group .form-control:not(:first-child) {
    margin-top: 5px;
}

#other-people .form-control {
    display: inline-block;
}

label {
    display: block;
}

.select {
    display: block;
    height:34px;
    width: 100%;
    padding: 6px 12px;
    margin-top: 5px;

}

body {
    padding: 30px 0;
}

.person-info-wrapper {
    color: #5cb85c;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
}


.person-info-wrapper .glyphicon {
    margin-left: 10px;
    font-size: 14px;
}
.person-info-wrapper .glyphicon:hover {
    cursor: pointer;
    color: gainsboro;
}

#savePerson {
    padding: 4px 8px;
}

#block-three .form-group {
    background: #ccc;
    padding: 10px 5px;
    border-radius: 4px;
}

.opened {
    background: #ccc;
    
}

.checkbox-label {
    margin-top: 3px !important;
}

.checkbox {
    margin-right: 5px !important;
    display: inline;
}

.extras-header {
    font-weight: 500;
    font-size: 18px;
}

.inner {
    background-color: #ccc;
    padding: 12px 5px;
    border-radius: 3px;
}
